extends layout

block content
  h1 #{title}
  br

  table.table.table-striped.table-bordered
    tr
      td Name
      td Author
      td Time
      td
    if (typeof lectures === "undefined")
      tr
        td
    else
      each lecture in lectures
        tr
          td #{lecture.name}
          td #{lecture.author}
          - var date   = new Date(lecture.date);
          - var hour   = date.getHours();
          - var minute = date.getMinutes();
          td #{hour + ":" + minute}
          td
            form(action="/lecture/delete/#{lecture.id}", method="post")
              button.btn(type="submit") Delete Lecture
  hr
  form.well(action="/lecture", method="post")
    label Lecture Name:
    input(name="name", type="textbox")
    label Author:
    input(name="author", type="textbox")
    label Time:
    input(name="time", type="time")
    br
    button.btn(type="submit") Add Lecture